$darkBlue: #204080;
$lightBlue: #4f75c2;
$white: #fff;
$text-black: #090a0a;
$text-light: #484949;
$text-extralight: #72777a;
$bgColor: #fff;
$footerBgColor: rgba(41, 78, 152, 0.72);
$sarchInputBorder: 2px solid #204080;
$sarchDropdownBorder: 1px solid #484848;
$addLinkInputBorder: 1.5px solid #484848;
$searchInputBorder: 2px solid #204080;
$dropdownMenuBorder: 1px solid #484848;
$dropdownMenuLine: #f2f4f5;

$orderdropdownMenuBorder: 1px solid #414141;
$orderdropdownMenuBg: #f3f2f2;
$orderdropdownMenuText: #414141;
$listItemBg: rgba(79, 117, 194, 0.21);
$listItemLine: #7e7e7e;
$addLinkInputPlaceholder: rgba(100, 100, 100, 0.5);

$addLinkLabel: #686868;
$red: #ff0000;
$footer-bgColor: rgba(41, 78, 152, 0.72);
