$darkBlue :#204080;
$white :#fff;
$text-black :#090A0A;
$textLighter : #72777A;
$bgColor : #fff;
$footerBgColor : rgba(41, 78, 152, 0.72);
$sarchInputBorder: 2px solid #204080;
$sarchDropdownBorder: 1px solid #484848;
$red: #FF0000;

