$darkBlue: #204080;
$lightBlue: #4f75c2;
$white: #fff;
$text-black: #090a0a;

$text-light: #484949;
$text-extralight: #72777a;
$bgColor: #fff;
$footerBgColor: rgba(41, 78, 152, 0.72);
$sarchInputBorder: 2px solid #204080;
$sarchDropdownBorder: 1px solid #484848;
$red: #ff0000;
$footer-bgColor: rgba(41, 78, 152, 0.72);
