{
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "parser": "flow",
  "usePrettierrc": false,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80
}
