@import '../../assets/scss/variables';

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

Button {
  min-height: 100%;
  padding: 20px 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: $white;
  background-color: $darkBlue;
  border-radius: 14px;
  border: 0;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $lightBlue;
    cursor: pointer;
  }
}

.buttonDisable button {
  background-color: $lightBlue;
  pointer-events: none;
}
