main.mainPageContext {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main.mainPageContext .logoArea {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main.mainPageContext .logoArea .logo {
      width: 300px; }
    main.mainPageContext .logoArea .logo-text {
      font-size: 0.9rem;
      letter-spacing: 0.01rem;
      font-weight: 900;
      margin-top: 10px;
      color: #484949;
      text-transform: uppercase;
      margin-bottom: 1rem;
      position: relative;
      right: -140px; }
  main.mainPageContext .searchArea label {
    font-size: 2rem;
    font-weight: 700;
    color: #484949;
    margin: 40px 0 10px 0;
    display: block; }
  main.mainPageContext .searchArea .inputArea {
    display: flex;
    margin-bottom: 400px; }
    main.mainPageContext .searchArea .inputArea input {
      width: 600px;
      margin-right: 10px;
      margin-top: 0 !important;
      border: 0;
      border-radius: 14px;
      padding: 0 20px 0 50px;
      font-size: 1.2rem;
      font-weight: 600;
      border: 2px solid #204080;
      color: #484949;
      margin-top: 10px;
      transition: background-color 0.3s ease-in-out; }
    main.mainPageContext .searchArea .inputArea .searchIcon {
      position: absolute;
      top: 20px;
      left: 14px; }
      main.mainPageContext .searchArea .inputArea .searchIcon img {
        width: 24px; }
  main.mainPageContext .searchArea .dropdown {
    top: 170px;
    width: 88%;
    border: 1px solid #484848;
    border-radius: 24px;
    padding: 20px 30px;
    left: -40px; }
    main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px; }
      main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item .line {
        height: 1px;
        background: #f2f4f5;
        width: calc(100% - 38px);
        transform: translateX(38px);
        margin-top: 6px; }
      main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item .dropdown-item-context {
        display: flex;
        align-items: center;
        gap: 10px; }
        main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item .dropdown-item-context .dropdown-icon img {
          width: 30px;
          margin-top: 4px; }
        main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item .dropdown-item-context .dropdown-text b {
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          color: #090a0a; }
        main.mainPageContext .searchArea .dropdown .dropdown-content .dropdown-item .dropdown-item-context .dropdown-text p {
          font-size: 14px;
          line-height: 16px;
          margin: 0;
          color: #72777a; }
    main.mainPageContext .searchArea .dropdown .dropdown-content .showMore {
      width: 100%;
      text-align: center; }
      main.mainPageContext .searchArea .dropdown .dropdown-content .showMore b {
        font-size: 1.2rem;
        font-weight: 900;
        color: #090a0a;
        margin-top: 10px; }
        main.mainPageContext .searchArea .dropdown .dropdown-content .showMore b:hover {
          cursor: pointer; }

footer {
  background: rgba(41, 78, 152, 0.72);
  padding: 30px; }
  footer .container {
    max-width: 1200px;
    margin: auto; }
    footer .container .row {
      display: flex; }
  footer .column-2 {
    padding: 30px;
    max-width: 500px; }
    footer .column-2 address {
      font-style: normal;
      font-size: 18px;
      line-height: 21px; }
      footer .column-2 address h3 {
        margin: 0;
        font-weight: 700;
        color: #fff; }
      footer .column-2 address p {
        color: #fff;
        font-weight: 400;
        margin: 0 0 40px 0; }
      footer .column-2 address strong {
        color: #fff;
        font-weight: 700; }
        footer .column-2 address strong a {
          text-decoration: none;
          color: #fff;
          font-weight: 700; }
