@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.position-absolute {
  position: absolute; }

.position-relative {
  position: relative; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex; }

.flex-column {
  flex-direction: column; }
