@import '../../assets/scss/variables';
.searchArea {
  label {
    font-size: 2rem;
    font-weight: 700;
    color: $text-light;
    margin: 40px 0 10px 0;
    display: block;
  }
  .inputArea {
    display: flex;

    input {
      width: 600px;
      margin-right: 10px;
      margin-top: 0 !important;
      border: 0;
      border-radius: 14px;
      padding: 0 20px 0 50px;
      font-size: 1.2rem;
      font-weight: 600;
      border: $searchInputBorder;
      color: $text-light;
      margin-top: 10px;
      transition: background-color 0.3s ease-in-out;
    }

    .searchIcon {
      position: absolute;
      top: 20px;
      left: 14px;

      img {
        width: 24px;
      }
    }
  }

  .dropdown {
    top: 170px;
    width: 88%;
    border: $dropdownMenuBorder;
    border-radius: 24px;
    padding: 20px 30px;
    left: -40px;

    .dropdown-content {
      .dropdown-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .line {
          height: 1px;
          background: $dropdownMenuLine;
          width: calc(100% - 38px);
          transform: translateX(38px);
          margin-top: 6px;
        }

        .dropdown-item-context {
          display: flex;
          align-items: center;
          gap: 10px;
          .dropdown-icon {
            img {
              width: 30px;
              margin-top: 4px;
            }
          }
          .dropdown-text {
            width: 100%;
            b {
              font-size: 16px;
              line-height: 20px;
              margin: 0;
              color: $text-black;
            }

            b.notfound {
              font-size: 20px;
              text-align: center;
              display: flex;
              justify-content: center;
              padding: 30px 0;
              color: $text-extralight;
            }
            p {
              font-size: 14px;
              line-height: 16px;
              margin: 0;

              color: $text-extralight;
            }
          }
        }
      }

      .showMore {
        width: 100%;
        text-align: center;

        b {
          font-size: 1.2rem;
          font-weight: 900;
          color: $text-black;
          margin-top: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
